/* Цвет основного текста #212121 черный */
/* Цвет вторичного текста #757575 серый */
/* #FFFFFF белый*/
/* акцент #2196F3 голубой*/
/*rgba(255, 255, 255, 0.6); адрес в футере */

/* Цвет фона в шапке #FFFFFF */
/* Вторичный цвет фона #E5E5E5  */
/* Цвет фона в команде #F5F4FA */
/* Цвет фона мейна и футера #2F303A */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --text-white: #ffffff;
  --primary-bkg-color: #e5e5e5;
  --footer-bkg-color: #2f303a;
  --secondery-bkg-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto;
}

.logo {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
.studio {
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
/* Site-nav */
.site-nav a {
  color: var(--primary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.section-title {
  color: var(--primary-text-color);
}
